@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter&family=Nunito&family=Pacifico&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 50px;
  background-color: #62bf9e;
}

.info {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -20px;
  display: none;
}
.info .timer {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 1.2rem;
}
.info .timer .sec, .info .timer .min, .info .timer .hour {
  font-size: 1.25rem;
  font-family: "Courier Prime", monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 3px;
  border: 1px solid #000;
  position: relative;
}
.container .content .finish {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 1.5s;
  display: none;
}
.container .content .finish .finish-text {
  font-family: "Pacifico", cursive;
  font-size: 50px;
}
.container .content .finish .time {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
.container .content .big-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid #000;
}
.container .content .big-box .box {
  width: 45px;
  height: 45px;
  font-size: 1.7rem;
  border: 1px solid #888;
  background-color: #eee;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .content .big-box .side-click {
  background-color: #bbb;
}
.container .content .big-box .color-blue {
  color: blue;
}
.container .content .big-box .color-red {
  color: red;
}
.container .content .big-box .bg-red {
  background-color: rgba(255, 0, 0, 0.5);
}
.container .content .big-box .click {
  background-color: #549abb;
}
.container .tools {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .tools .mistake {
  align-self: center;
}
.container .tools .mid {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .tools .mid .erase {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .tools .mid .erase:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.container .tools .mid .erase div {
  font-size: 0.8rem;
}
.container .tools .mid .new-game {
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .tools .mid .new-game:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.container .tools .numbers {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}
.container .tools .numbers .number {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .tools .numbers .number:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.container .tools .timer {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 1.2rem;
}
.container .tools .timer .sec, .container .tools .timer .min, .container .tools .timer .hour {
  font-size: 1.25rem;
  font-family: "Courier Prime", monospace;
}

@media screen and (max-width: 600px) {
  body {
    padding: 25px;
    gap: 25px;
  }
  .container {
    flex-direction: column;
  }
  .container .content {
    width: 95vw;
    height: 95vw;
  }
  .container .content .big-box .box {
    font-size: 1.5rem;
    width: calc((95vw - 8px) / 9);
    height: calc((95vw - 8px) / 9);
  }
  .container .tools {
    align-items: center;
  }
  .container .tools .numbers {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .container .tools .numbers .number {
    background: none;
    padding: 0 5px;
  }
  .container .tools .numbers .number:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}/*# sourceMappingURL=style.css.map */